#!/usr/bin/bash

set -eux

if [ $# -lt 2 ]; then
    echo "Usage: $0 pull|exists IMAGENAME --root=ROOT [--tls-verify=TLS_VERIFY] [--platform=PLATFORM]"
    exit 1
fi

CMD=$1
IMAGE=$2
shift 2

ROOT=
TLS_VERIFY=true
PLATFORM=linux/amd64
for i in "$@"; do
  case $i in
    --root=*)
      ROOT=$(realpath "${i#*=}")
      shift
      ;;
    --tls-verify=*)
      TLS_VERIFY="${i#*=}"
      shift
      ;;
    --platform=*)
      PLATFORM="${i#*=}"
      shift
      ;;
    -*|--*)
      echo "Unknown option $i"
      exit 1
      ;;
    *)
      echo "No positional allowed aside from CMD and IMAGENAME"
      exit 1
      ;;
  esac
done

# Ensure the specified root belongs to the image store
if [ "$(dirname $ROOT)" != "{{ imagestores_root }}" ]; then
    echo "The root has to be a folder located in {{ imagestores_root }}"
    exit 1
fi

# NOTE: Please pay attention to the fact that all the parameters are quoted to prevent additional parameters being passed maliciously to the script
case $CMD in
    pull)
      exec podman --root "$ROOT" pull -q "--tls-verify=$TLS_VERIFY" "--platform=$PLATFORM" "$IMAGE"
      ;;
    exists)
      # NOTE: We are using the additional image store here to reduce the chances of getting stuck on some useless lock
      exec podman --root /var/run/containers/storage/ --storage-opt=additionalimagestore="$ROOT" image exists "$IMAGE"
      ;;
    *)
      echo "Invalid command"
      exit 1
      ;;
esac
