version: 1

# Rules to match for a machine to qualify
target:
  id: "{{ machine_id }}"

timeouts:
  first_console_activity:  # This limits the time it can take to receive the first console log
    minutes: 2
    retries: 0
  overall:           # Maximum time the job can take, not overrideable by the "continue" deployment
    hours: 20
    retries: 0
    # no retries possible here

console_patterns:
    session_end:
        regex: "^.*It's now safe to turn off your computer\r$"
    job_success:
        regex: "^.*Execution is over, pipeline status: 0\r$"

# Environment to deploy
deployment:
  # Initial boot
  start:
    storage:
        http:
          - path: "/b2c-extra-args"
            data: >
              b2c.minio="gateway,{{ minio_url }},{{ job_bucket_access_key }},{{ job_bucket_secret_key }}"
              b2c.volume="job,mirror=gateway/{{ job_bucket }},pull_on=pipeline_start,push_on=pipeline_end,overwrite"
              b2c.run="-ti -v job:/job_share/ --entrypoint sh {% raw %}{{ job.imagestore.public.mars.image_id }}{% endraw %}"
              b2c.pipefail b2c.poweroff_delay=15

        imagestore:
          # The key here is global: If other jobs use the same key they will end up using the same image store
          # NOTE: We only allow `public` for now, until adding support for private image stores.
          public:
            # List of images that should be pulled into the image store ahead of execution
            images:
              mars:
                name: "registry.freedesktop.org/gfx-ci/ci-tron/machine-registration:latest"
                platform: "linux/arm64"
                tls_verify: true
                pull: always
        nbd:
          storage:
            max_connections: 5
            size: 10G
    kernel:
      cmdline:
        - b2c.extra_args_url={{ job.http.url }}/b2c-extra-args
        - console={{ local_tty_device }},115200 SALAD.machine_id={{ machine_id }}
        - b2c.ntp_peer="ci-gateway"
        - {{ imagestore.mount("public").nfs.to_b2c_filesystem("publicimgstore") }}
        - b2c.storage="additionalimagestores=publicimgstore"
        - b2c.nbd=/dev/nbd0,host=ci-gateway,port={{ '{{' }} job.nbd.storage.tcp_port }},connections=5
        - b2c.cache_device=/dev/nbd0
