[Interface]
Address = {{ wg0_cidr }}
ListenPort = {{ wg0_port }}
PostUp = wg set %i private-key "{{ wg0_private_key }}"

{% for user in trusted_users|default([]) -%}

{% if (user.wg|default([]) or [])|length > 0-%}
# {{user.name}} {{ "/ " + user.email if user.email is defined else ""}}
{% for key in user.wg|default([]) -%}
[Peer]
PublicKey = {{key.public_key}}
AllowedIPs = {{key.allowed_ips}}
{% endfor %}
{% endif %}
{% endfor -%}
