#!/bin/sh

interface="$1"
if [ -z "$interface" ]; then
	echo "An interface (e.g. wg0) is required!"
	exit 1
fi

mkdir -p "{{ wireguard_secrets_dir }}" || /bin/true

priv_key="{{ wireguard_secrets_dir }}/$interface".key
pub_key="{{ wireguard_secrets_dir }}/$interface".pub

[ -f "$priv_key" ] && exit 0

echo "Key does not exist for interface $interface, generating..."

wg genkey | (umask 0077 && tee "$priv_key") | wg pubkey > "$pub_key"
