[Unit]
Description=salad server
PartOf=infra.service
Requires=salad.socket

[Service]
TimeoutStartSec=0
EnvironmentFile={{ base_config_env_file }}
EnvironmentFile=-{{ config_env_file }}
User=salad
ExecStart=salad
LimitNOFILE=32768
Restart=always
RestartSec=1s

[Install]
WantedBy=infra.service
